/* .home-page {
  padding: 8px 0px;
} */

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/banner.jpg");
  height: 140px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner-txt {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.list-rees-card {
  width: 70%;
  margin: auto;
  padding-top: 8px;
}

.ant-select .ant-select-single .ant-select-show-arrow {
  width: 100%;
}
