.the-map {
  position: relative;
}

.search-box {
  position: absolute;
  top: 0%;
  left: 40%;
  width: 20%;
  height: 40px;
  margin-top: 10px;
  display: inline-block;
  background-color: #fff;
  border-radius: 40px;
}

.search-txt {
  /* width: "84%", */
  width: 100%;
  height: 40px;
  padding: 0px 10px;
  outline: none;
  float: left;
  border: 1px solid darkgray;
  box-sizing: border-box;
  border-radius: 40px;
}

.search-btn {
  float: right;
  /* width: 40px; */
  width: 16%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  text-decoration: none;
  border-style: solid solid solid none;
  border-width: 1px;
  border-color: darkgray;
  box-sizing: border-box;
}

.rees-chances-table {
  position: absolute;
  width: 25%;
  top: 60px;
  right: 60px;
  border: 0px solid darkgray;
}

.list-title {
  background-color: #999190;
  padding: 10px;
  text-align: center;
}

.div-search-btn-table {
  display: flex;
  padding: 5px;
  background-color: #fff;
}

button {
  margin: auto;
}

.list-items {
  padding: 0px 10px 10px 10px;
  background-color: #fff;
}

.table {
  margin-bottom: 10px;
}

.paging {
  display: flex;
}

.pagination {
  margin: auto;
}

.clear {
  clear: both;
}

div[class="popup-overlay "] {
  position: fixed;
  top: 35%;
  bottom: unset;
  left: 0px;
  right: 0px;
  background-color: none;
  display: flex;
  z-index: 999;
}
