.list-rees-with-toggle-btn {
  width: 25%;
  position: relative;
  top: 10%;
  left: 2.5%;
}

@media (max-width: 900px) {
  .list-rees-with-toggle-btn {
    width: 50%;
    position: relative;
    top: 10%;
    left: 25%;
  }
}

@media (max-width: 500px) {
  .list-rees-with-toggle-btn {
    width: 70%;
    position: relative;
    top: 10%;
    left: 15%;
  }
}

.list-toggle {
  display: flex;
}

.list-rees {
  background-color: #fff;
  padding: 0px 10px 10px 10px;
  border-radius: 15px;
  border: solid 1px tomato;
}

.list-rees-title {
  background-color: #fff;
  text-align: left;
  border-radius: 15px;
}

/* .list-rees-header {
  border-radius: 15px 15px 0px 0px;
  height: 24px;
  text-align: center;
  border-bottom: 1px solid #f0f0f0;
} */
